<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Login form</title>
</head>
<body>
	<h3 class="ml-2 mb-3">Custom login page</h3>
	<form th:action="@{/authenticateUser}" method="POST">     
		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="username">Username</label>
			<div class="col-sm-5">
				<input type="text" placeholder="Username" name="username" th:required="required" id="username">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label ml-2" for="password">Password</label>
			<div class="col-sm-5">
				<input type="password" placeholder="Password" name="password" th:required="required" id="password">
			</div>
		</div>
		
		<input type="submit" value="Login" class="btn btn-primary btn-sm mb-2 ml-2 col-sm-3"/>
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>	   
	</form>
	
	<div th:if="${param.logout!=null}" class="alert alert-success ml-2">
		<i>You have successfully logged out</i>
	</div>
	
</body>
</html>