<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Login form</title>
</head>
<body>
	<h3>Admin site</h3>
	<form th:action="@{/admins/creation/user/form}" method="POST">
		<button type="submit">Manually create user</button>
	</form>
	<form th:action="@{/admins/creation/employee/form}" method="POST">
		<button type="submit">Manually create employee</button>
	</form>
	<form th:action="@{/admins/creation/book/form}" method="POST">
		<button type="submit">Manually create book</button>
	</form>
	<form th:action="@{/admins/creation/author/form}" method="POST">
		<button type="submit">Manually create author</button>
	</form>
	<a th:href="@{/admins/show/employees}">Show employees</a>
</body>
</html>