<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Employees listing</title>
</head>
<body>
<div class="container">
	<h3>Employees</h3>
	
	<a th:href="@{/admins/start}" class="btn btn-primary btn-sm mb-2"> Back to start </a>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>Email</th>
				<th>Options</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="empl : ${employees}">
				<td th:text="${empl.name}"/>
				<td th:text="${empl.surname}"/>
				<td th:text="${empl.email}"/>
				<td>
					<a th:href="@{/admins/update/employee/form(emplId=${empl.id})}" class="btn btn-info btn-sm" >Update</a>
					<a th:href="@{/admins/delete/employee(emplId=${empl.id})}"  class="btn btn-danger btn-sm" >Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</HTML>