<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Author's books</title>

</head>
<body>
	<h3>Author books</h3>
	<div th:object="${author}">
		<p class="h4">Author: <span th:text="${author.name} +' '+ ${author.surname}"></span></p>
	</div>
	<a th:href="@{/employees/show/authors/get}" class="btn btn-primary btn-sm mb-2"> Back to authors</a>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Title</th>
				<th>Publishing house</th>
				<th>Year of publishment</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="book : ${books}">
				<td th:text="${book.title}"/>
				<td th:text="${book.publishingHouse}"/>	
				<td th:text="${book.yOfPublishment}">
			</tr>
		</tbody>
	</table>
</body>
</HTML>