<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Client rents</title>
</head>
<body>
<div class="container">
	<h3 class="ml-2">Client rents</h3>
	
	<div class="form-group row">
			<div class="col-sm-5 d-inline ml-2">
				<a th:href="@{/employees/show/clients/get}" class="btn btn-primary btn-sm mb-2"> Back </a>
				<a th:href="@{/employees/creation/clients/rent(clientId=${clientId})}" class="btn btn-primary btn-sm mb-2"> Add Rent</a>
			</div>
	</div>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Title</th>
				<th>Start Date of Rent</th>
				<th>End Date of Rent</th>
				<th>Penalty included</th>
				<th>Options</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="rent : ${rents}">
				<td th:text="${rent.title}">
				<td th:text="${rent.dateOfRent}"/>
				<td th:text="${rent.endDateOfRent}"/>
				<td th:text="${rent.penalty}"/>
				<td>
					<a th:href="@{/employees/delete/client/cancelrent/{clientId}/{rentId}(clientId=${clientId}, rentId=${rent.id})}"  class="btn btn-info btn-sm" >Cancel rent</a>
					<a th:href="@{/employees/delete/client/cancelpenal/{clientId}/{rentId}(clientId=${clientId}, rentId=${rent.id})}" class="btn btn-danger btn-sm" >Cancel penalty</a>
					<a th:href="@{/employees/creation/client/createpenal/{clientId}/{rentId}(clientId=${clientId}, rentId=${rent.id})}" class="btn btn-danger btn-sm" >Add penalty</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</HTML>