<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Employees listing</title>

</head>
<body>
<div class="container">
	<h3>Authors</h3>
	
	<a th:href="@{/admins/creation/author/form}" class="btn btn-primary btn-sm mb-2"> Add Author</a>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>Books</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="author : ${authors}">
				<td th:text="${author.name}"/>
				<td th:text="${author.surname}"/>	
				<td>
					<a th:href="@{/admins/creation/book/form(authorId=${author.id})}" class="btn btn-info btn-sm" >Add book</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</HTML>