<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Client listing</title>
</head>
<body>
<div class="container">
	<h3 class="ml-2">Clients</h3>
	
	<div class="form-group row">
		<form th:action="@{/employees/show/clients/get/viasearch}" method="GET">
			<div class="col-sm-5 d-inline ml-2">
				<a th:href="@{/home}" class="btn btn-primary btn-sm mb-2"> Back to start </a>
				<a th:href="@{/employees/creation/client/form}" class="btn btn-primary btn-sm mb-2"> Add Client</a>
				<a th:href="@{/employees/show/clients/get}" class="btn btn-primary btn-sm mb-2"> Refresh </a>
				<button class="btn btn-primary btn-sm mb-2" type="submit">Search -></button>
				<input type="text" th:name="clientS" placeholder="example@mail.com">
				</div>
		</form>
	</div>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>Email</th>
				<th>Options</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="client : ${clients}">
				<td th:text="${client.name}"/>
				<td th:text="${client.surname}"/>
				<td th:text="${client.email}"/>
				<td>
					<a th:href="@{/employees/update/client/form(clientId=${client.id})}" class="btn btn-info btn-sm" >Update</a>
					<a th:href="@{/employees/delete/client/delete(clientId=${client.id})}"  class="btn btn-danger btn-sm" >Delete</a>
					<a th:href="@{/employees/show/clients/rents(clientId=${client.id})}" class="btn btn-info btn-sm" >Show Rents</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</HTML>